<footer class="mt-auto py-3 text-center">
  <small class="text-muted mb-2">
    <i class="fas fa-code"></i> with <i class="fas fa-heart"></i> by <strong>{{ site.data.resume.personal_info.name.nick_name }}</strong>
  </small>
  <div class="container-fluid justify-content-center">
    {% assign unfocused_color = site.data.resume.contact_info.social_urls.unfocused_color %} 
    {% assign social_urls = site.data.resume.contact_info.social_urls.data %} 
    {% for account in social_urls %} 
      {% if account.enable %}
      <a class="social mx-1" href="{{ account.url }}" style="color: #{{ unfocused_color }}"
        onMouseOver="this.style.color='#{{ account.color }}'" onMouseOut="this.style.color='#{{ unfocused_color }}'">
        <i class="{{ account.icon }} fa-1x"></i>
      </a>
      {% endif %}
    {% endfor %}
  </div>
  {% assign theme_name = "extinctCoder.github.io" %}
  {% assign theme_repo = "https://github.com/extinctCoder/extinctCoder.github.io" %}
  <small id="attribution">
    raw_code <a href="{{ theme_repo }}">{{ theme_name }}</a>
  </small>
</footer>