{% extends "zero_layout.html" %}
{% block zero_header_up %}
    {% include 'concepthome/starting_parallax.html' %}
{% endblock %}
{% block zero_body %}
    <div class="content-wrap nopadding">
        {% include 'concepthome/onload_subscribe.html' %}
        {% include 'concepthome/four_points.html' %}
        {% include 'concepthome/seriously_parallaxical.html' %}
        {% include 'concepthome/features.html' %}
        {% include 'concepthome/not_compleated.html' %}
    </div>
{% endblock %}
{% block page_js %}{% endblock %}