
<div class="row nopadding common-height">
    <div class="col-lg-4 dark col-padding ohidden" style="background-color: #1abc9c;">
        <div>
            <h3 class="uppercase" style="font-weight: 600;">Why choose Us</h3>
            <p style="line-height: 1.8;">Transform, agency working families thinkers who make change happen communities. Developing nations legal aid public sector our ambitions future aid The Elders economic security Rosa.</p>
            <a href="#" class="button button-border button-light button-rounded uppercase nomargin">Read More</a>
            <i class="icon-bulb bgicon"></i>
        </div>
    </div>
    <div class="col-lg-4 dark col-padding ohidden" style="background-color: #34495e;">
        <div>
            <h3 class="uppercase" style="font-weight: 600;">Our Mission</h3>
            <p style="line-height: 1.8;">Frontline respond, visionary collaborative cities advancement overcome injustice, UNHCR public-private partnerships cause. Giving, country educate rights-based approach; leverage disrupt solution.</p>
            <a href="#" class="button button-border button-light button-rounded uppercase nomargin">Read More</a>
            <i class="icon-cog bgicon"></i>
        </div>
    </div>
    <div class="col-lg-4 dark col-padding ohidden" style="background-color: #e74c3c;">
        <div>
            <h3 class="uppercase" style="font-weight: 600;">What you get</h3>
            <p style="line-height: 1.8;">Sustainability involvement fundraising campaign connect carbon rights, collaborative cities convener truth. Synthesize change lives treatment fluctuation participatory monitoring underprivileged equal.</p>
            <a href="#" class="button button-border button-light button-rounded uppercase nomargin">Read More</a>
            <i class="icon-thumbs-up bgicon"></i>
        </div>
    </div>
</div>
<div class="clear"></div>
