
{% load static %}
<div class="section parallax full-screen dark nomargin noborder" style="background-image: url('{% static 'images/parallax/1.jpg' %}');" data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">
    <div class="vertical-middle">
        <div class="container clearfix">
            <div class="row">
                <div class="col-lg-3 bottommargin-sm center" data-animate="bounceIn">
                    <i class="i-plain i-xlarge divcenter nobottommargin icon-code"></i>
                    <div class="counter counter-large counter-lined"><span data-from="100" data-to="846" data-refresh-interval="50" data-speed="2000"></span>K+</div>
                    <h5>Lines of Codes</h5>
                </div>
                <div class="col-lg-3 bottommargin-sm center" data-animate="bounceIn" data-delay="200">
                    <i class="i-plain i-xlarge divcenter nobottommargin icon-magic"></i>
                    <div class="counter counter-large counter-lined"><span data-from="3000" data-to="15360" data-refresh-interval="100" data-speed="2500"></span>+</div>
                    <h5>KBs of HTML Files</h5>
                </div>
                <div class="col-lg-3 bottommargin-sm center" data-animate="bounceIn" data-delay="400">
                    <i class="i-plain i-xlarge divcenter nobottommargin icon-file-text"></i>
                    <div class="counter counter-large counter-lined"><span data-from="10" data-to="386" data-refresh-interval="25" data-speed="3500"></span>*</div>
                    <h5>No. of Templates</h5>
                </div>
                <div class="col-lg-3 bottommargin-sm center" data-animate="bounceIn" data-delay="600">
                    <i class="i-plain i-xlarge divcenter nobottommargin icon-time"></i>
                    <div class="counter counter-large counter-lined"><span data-from="60" data-to="1200" data-refresh-interval="30" data-speed="2700"></span>+</div>
                    <h5>Hours of Coding</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>