
				<div class="section nomargin noborder" style="background-image: url('images/parallax/3.jpg');">
					<div class="heading-block center nobottomborder nobottommargin">
						<h2>"Everything is designed, but some things are designed well."</h2>
					</div>
				</div>

				<div class="section parallax full-screen dark nomargin noborder" style="background-image: url('images/parallax/home/10.jpg');"  data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">
					<div class="vertical-middle">
						<div class="container clearfix">

							<div class="col_three_fifth nobottommargin">

								<iframe src="http://player.vimeo.com/video/101666580" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

							</div>

							<div class="col_two_fifth col_last nobottommargin">

								<div class="emphasis-title">
									<h2>Embedded Videos</h2>
									<p class="lead topmargin-sm">Show off your Vimeo &amp; Videos in style and with a perfect aspect ratio.</p>
								</div>

								<a href="#" class="button button-border button-rounded button-light button-large">Go to Vimeo</a>

							</div>

						</div>
					</div>
				</div>

				<div class="section parallax dark nomargin noborder" style="padding: 150px 0; background-image: url('images/parallax/home/5.jpg');" data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">
					<div class="container center clearfix">

						<div class="emphasis-title">
							<h2>Perfect tool for Customization</h2>
							<p class="lead topmargin-sm">Create as much unique content as you want with this Template which has powerful &amp; optimized code.</p>
						</div>

						<a href="#" class="button button-border button-rounded button-light button-large">Start Browsing</a>
						<a href="#" class="button button-rounded button-white button-light button-large">Buy Now</a>

					</div>
				</div>
