{% load static %}
<div class="modal-on-load" data-target="#myModal"></div>
<div class="modal1 mfp-hide subscribe-widget" id="myModal">
    <div class="block dark divcenter" style="background: url('{% static 'images/modals/modal1.jpg' %}') no-repeat; background-size: cover; max-width: 700px;" data-height-xl="400">
        <div style="padding: 50px;">
            <div class="heading-block nobottomborder bottommargin-sm" style="max-width:500px;">
                <h3>Newsletter Subscribe</h3>
                <span>Get Latest Fashion Updates &amp; Offers</span>
            </div>
            <div class="widget-subscribe-form-result"></div>
            <form class="widget-subscribe-form2" action="include/subscribe.php" role="form" method="post" style="max-width: 350px;">
                <input type="email" id="widget-subscribe-form2-email" name="widget-subscribe-form-email" class="form-control form-control-lg not-dark required email" placeholder="Enter your Email">
                <button class="button button-rounded button-border button-light noleftmargin" type="submit" style="margin-top:15px;">Subscribe</button>
            </form>
            <p class="nobottommargin"><small><em>*We hate Spam &amp; Junk Emails.</em></small></p>
        </div>
    </div>
</div>
<div class="clear"></div>




