{% load static %}
<div class="section parallax full-screen nomargin noborder" style="background-image: url('{% static 'images/parallax/home/11.jpg' %}');" data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">
    <div class="vertical-middle">
        <div class="container clearfix">
            <div class="col_three_fifth nobottommargin">
                <div class="emphasis-title">
                    <h2>Seriously Parallaxical</h2>
                    <p class="lead topmargin-sm">Create beautiful unlimited full-screen parallax defined backgrounds to spell bound your visitors.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>