{% load static %}
<section id="slider" class="slider-element slider-parallax full-screen with-header force-full-screen clearfix">
	<div class="slider-parallax-inner">
		<div class="full-screen force-full-screen" style="background: url('{% static 'images/parallax/home/9.jpg' %}') center center no-repeat; background-size: cover;">
			<div class="container clearfix">
				<div class="emphasis-title vertical-middle center">
					<h1 data-animate="fadeInUp">welcome to <strong>shourov's world</strong></h1>
				</div>
			</div>
		</div>
	</div>
</section>