{% assign social_links = site.data.contact_info.social_links.data %}
<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">
    {% if social_links.phone %}
      {% for phn in social_links.phone %}
        <li class="phone">
          <a href="tel:{{ phn.number }}">{{ phn.number }}</a>
        </li>
      {% endfor %}
    {% endif %}
    {% if social_links.email %}
      {% for mil in social_links.email %}
        <li class="email">
          <a href="mailto:{{ mil.mail }}">{{ mil.mail }}</a>
        </li>
      {% endfor %}
    {% endif %}
    <li class="align-items-center">
      {% if social_links.website %}
        <a class="website" href="https://{{ social_links.website }}" target="_blank"><i class="fas fa-globe-americas"></i></a>
      {% endif %}
      {% if social_links.linkedin %}
        <a class="linkedin" href="https://bd.linkedin.com/in/{{ social_links.linkedin }}" target="_blank"><i class="fab fa-linkedin"></i></a>
      {% endif %}
      {% if social_links.github %}
        <a class="github" href="https://github.com/{{ social_links.github }}" target="_blank"><i class="fab fa-github"></i></a>
      {% endif %}
      {% if social_links.gitlab %}
        <a class="gitlab" href="https://gitlab.com/{{ social_links.gitlab }}" target="_blank"><i class="fab fa-gitlab"></i></a>
      {% endif %}
      {% if social_links.bitbucket %}
        <a class="bitbucket" href="https://bitbucket.com/{{ social_links.bitbucket }}" target="_blank"><i class="fab fa-bitbucket"></i></a>
      {% endif %}
      {% if social_links.twitter %}
        <a class="twitter" href="https://twitter.com/{{ social_links.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a>
      {% endif %}
      {% if social_links.stack-overflow %}
        <a class="stack-overflow" href="https://stackoverflow.com/users/{{ social_links.stack-overflow }}" target="_blank"><i class="fab fa-stack-overflow"></i></a>
      {% endif %}
      {% if social_links.codewars %}
        <a class="codewars" href="https://www.codewars.com/users/{{ social_links.codewars }}/completed_solutions" target="_blank"><i class="fas fa-code"></i></a>
      {% endif %}
      {% if social_links.goodreads %}
        <a class="goodreads-g" href="https://www.goodreads.com/user/show/{{ social_links.goodreads }}" target="_blank"><i class="fab fa-goodreads-g"></i></a>
      {% endif %}
    </li>
  </ul>
</div>