{% assign education = site.data.education_experiences.data %} {% if education %}
{% if site.data.education_experiences.enable_sidebar %}
<div class="education-container container-block">
  <h2 class="container-block-title">
    Education
  </h2>

  {% for graduation in education %}
  <div class="item">
    <h4 class="degree">{{ graduation.degree_short }}</h4>
    <h5 class="meta">
      {% if graduation.department_short %}{{ graduation.department_short }}, {% endif %}
      <a href="{{ graduation.link }}" target="_blank">{{ graduation.institute_short }}</a>
    </h5>
    <div class="time">{{ graduation.time }}</div>
  </div>
  {% endfor %}
</div>
{% else %}
<section class="section educations-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
    </span>
    Education
  </h2>

  {% for graduation in education %}
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="degree">{{ graduation.degree }}</h3>
        <div class="time">{{ graduation.time }}</div>
      </div>

      <div class="university">
        <a href="{{ graduation.link }}" target="_blank">{{ graduation.institute }}</a>
      </div>
    </div>

    {% if graduation.details %}
    <div class="details">
      {{ graduation.details | markdownify }}
    </div>
    {% endif %}
  </div>
  {% endfor %}
</section>
{% endif %} {% endif %}
