{% assign sidebar = site.data.data.sidebar %}
<div class="sidebar-wrapper">

  <div class="profile-container">

    {% if sidebar.name %}
    <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="profile picture" />
    {% endif %}

    {% if sidebar.name %}
    <h1 class="name">{{ sidebar.name }}</h1>
    {% endif %}

    {% if sidebar.tagline %}
    <h3 class="tagline">{{ sidebar.tagline }}</h3>
    {% endif %}
    
    {% if site.data.contact_info.social_links.enable %}
      {% include _resume/contact.html %}
    {% endif %}
  </div>
  
  {% if site.data.education_experiences.enable_sidebar %}
    {% include _resume/education.html %}
  {% endif %}

  {% include _resume/language.html %}
  {% include _resume/interests.html %}

  {% if sidebar.about %}
    {% include about.html %}
  {% endif %}

</div><!--//sidebar-wrapper-->
